<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider Card</title>
    <link rel="stylesheet" href="../../static/app004/css/index.css">
    <script type="text/javascript" src="../../static/app004/js/js03.js}"></script>
</head>
<body>
{#导航栏#}
<div class="navbar">
    <a href="#">返回首页</a>
    <a href="https://weread.qq.com/">微信读书</a>
    <a href="https://movie.douban.com/">豆瓣电影</a>
    <a href="https://pic88.com/">图集</a>
</div>
<h1>网易云音乐.歌手信息(By lltiany)</h1>
<div class="card">
    <input type="radio" name="select" id="slide_1" checked>
    <input type="radio" name="select" id="slide_2">
    <input type="radio" name="select" id="slide_3">
    <input type="radio" name="select" id="slide_4">
    <input type="radio" name="select" id="slide_5">
    <input type="checkbox" id="slide_img">
    <!-- 点击按钮 -->
    <div class="slide">
        <label for="slide_1" class="slide_btn_1"></label>
        <label for="slide_2" class="slide_btn_2"></label>
        <label for="slide_3" class="slide_btn_3"></label>
        <label for="slide_4" class="slide_btn_4"></label>
        <label for="slide_5" class="slide_btn_5"></label>
    </div>
    <!-- 主体内容 -->
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app004/css/touxiang1.jpg" alt="" class="img_1">
        </label>
        <div class="txt txt_1">
            <h2 class="tit">1-80</h2>
            <p class="info"> 爱乐团王超/白举纲/曹格/戴荃/Easy Mind/伏仪/郭旭/UP	/Yee/陈绮贞/Original Sin/Power Milk/巧克力工厂Chocolate Factory</p>
            <button class="btn"><a href="http://localhost:8001/app004/display01/" style="color: #f1f1f1">More</a></button>
        </div>
    </div>

    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app004/css/touxiang2.jpg" alt="" class="img_2">
        </label>
        <div class="txt txt_2">
            <h2 class="tit">81-160</h2>
            <p class="info">StevieHoang/ColbieCaillat/EmilyWarren/Earth, Wind & Fire/H. P. Lovecraft Historical Society/SIGMA</p>
            <button class="btn" ><a href="http://localhost:8001/app004/display02/" style="color: #f1f1f1">More</a></button>
        </div>
    </div>

    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app004/css/touxiang3.jpg" alt="" class="img_3">
        </label>
        <div class="txt txt_3">
            <h2 class="tit">161-240 </h2>
            <p class="info">豚乙女/Unlimited tone/君の美術館/HaKU/DDBY/夏川りみ/Ray/花近/Blitz Kids/岸尾だいすけ</p>
            <button class="btn"><a href="http://localhost:8001/app004/display03/" style="color: #f1f1f1">More</a></button>
        </div>
    </div>
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app004/css/touxiang4.jpg" alt="" class="img_4">
        </label>
        <div class="txt txt_4">
            <h2 class="tit">241-320</h2>
            <p class="info">BlockB/CLOWN/SwedenLaundry/曺炯雨/EDEN/方容国/MadClown/权顺日/CashMeerkat</p>
            <button class="btn"><a href="http://localhost:8001/app004/display04/" style="color: #f1f1f1">More</a></button>
        </div>
    </div>
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app004/css/touxiang5.jpg" alt="" class="img_5">
        </label>
        <div class="txt txt_5">
            <h2 class="tit">321-403</h2>
            <p class="info">BennyDayal/CharlieLim/Eenakshi/GajendraVerma/HaLe/张盛德/勇敢的家伙们/</p>
            <button class="btn"><a href="http://localhost:8001/app004/display05/" style="color: #f1f1f1">More</a></button>
        </div>
    </div>
</div>

</body>
</html>