<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>源皇诗集</title>
</head>
<body>
<!--
    h1~h6重要性递减,一般情况下只用到h1~h3
    在页面中独占一行的元素为块元素(block element)
-->
<!--
    p标签表示页面中的一个段落，p也是一个块元素
  -->

<!--
    hgroup标签为标题分组，可以将相关的标题同时嵌入到hgroup
-->
<hgroup>
    <h1><font color="#dc143c">回校偶书</font></h1>
    <h2><font color="#7fff00">源皇</font></h2>
    <h3><font color="aqua">腊月离校七月回</font></h3>
    <h3><font color="blue">乡音无改鬓毛衰</font></h3>
    <h3><font color="#ff1493">同学相见不相识</font></h3>
    <h3><font color="#7cfc00">笑问客从何处来</font></h3>
</hgroup>
<!--
    em标签用于表示语调的一个加重，字体改为斜体
    在页面中不会独占一行的元素称为行内元素
-->
<p>源皇<em>擅长写诗</em></p>
<!--
    stron表示强调，字体加粗，重要内容！
-->
<p>源皇一天必须要写<strong>1500</strong>首诗</p>
<!--
    blockquote表示一个长引用
-->
源皇说:
<blockquote>
    我一天写不了1500首诗。
</blockquote>
<!--
    q表示一个短引用
-->
源皇曰:<q>我一天写1000首诗还是可以的！</q>
<!--
    块元素(block element)
        -在网页中一般通过块元素对页面进行布局
    行内元素(inline element)
        -行内元素主要用来包裹文字
        -一般情况下会在块元素中放行内元素，而不会在行内元素中放块元素
        -p元素中不能放任何的块元素
    浏览器解析网页时会自动修正不符合规范的内容
        比如:标签卸载根元素的外部
            根元素中出现了除head和body以外的元素
            ...
-->

<!--
    布局标签(结构化语义标签)

    header表示网页头部
    main表示网页主体部分(一个页面中只有一个main)
    footer表示网页的底部
    nav表示网页中的导航
    aside表示和主体相关的其他内容(侧边栏)
    article表示一个独立的文章
    section表示一个独立的区块，上面的标签都不能表示时使用section
    div没有语义，表示一个区块，目前来讲div还是主要的布局元素
    span 行内元素，没有任何语义，一般用于在网页中选中文字
-->

<!--
    列表
    1.有序列表
    2.无序列表
    3.定义列表

   有序列表使用ul标签创建
        使用li表示列表项
   无序列表使用ol标签创建
-->

<ul>
    <li>结构</li>
    <li>行为</li>
    <li>表现</li>
</ul>

<ol>
    <li>结构</li>
    <li>行为</li>
    <li>表现</li>
</ol>

<dl>
    <dt>结构</dt>
    <dd>结构用来规定网页中哪里是标题，哪里是段落</dd>
</dl>

<!--
    超链接可以让我们从一个页面跳转到其他页面或者当前页面的其他位置
    使用a标签定义超链接，超链接也是一个行内元素，a标签中可以嵌套除自身外的任何元素
        属性：
        href 指定跳转的目标路径
-->
<a href="https://github.com/Shengqiang-Li/CIAIC_2020_TC">远程仓库</a>

<!--
    图片标签用于向当前页面中引入一个外部图片
    img标签引入外部图片，img是自结束标签
    属性:
        src 属性指定的是外部图片的路径(路径规则和超链接是一样的)
        alt 对图片的描述，这个描述默认情况下不会显示，有些浏览器会在图无法加载时显示
        搜索引擎会根据alt中的内容来识别图片，如果不写alt属性，搜索引擎搜不到图片
        width 图片宽度
        height 图片高度
            若只修改一个，另一个会等比例变化

    图片格式:
        jpeg(jpg)
            -支持的颜色较丰富，不支持透明效果，不支持动图
        gif
            -支持的颜色较少，支持简单透明，支持动图
            -适合颜色单一的图片，动图
        png
            -支持的颜色丰富，支持复杂透明，不支持动图(专为网页而生)
        base64
            -将图片用base64编码，将图片转成字符


-->
<img width="400" src="../../static/pic/1597042015700.jpeg">
<img width="400" src="../../static/pic/1597042024563.jpeg">


{#<form action="/app002/userlogin">#}
{#    用户名:<input type="text" name="user_name"><br>#}
{#    密码:<input type="password" name="user_password"><br>#}
{#    <input type="submit" value="提交">#}
{#    <input type="reset" value="重置"><br>#}
{#</form>#}
<hr>
</body>
</html>