<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成员介绍</title>
    <link rel="stylesheet" href="../../static/app005/css/index.css">
</head>
<body>
{#导航栏#}
<div class="navbar">
    <a href="http://localhost:8000/app001/search_page/">返回首页</a>
</div>
<h1>2020—CIAIC-TC组员介绍</h1>
<div class="card">
    <input type="radio" name="select" id="slide_1" checked>
    <input type="radio" name="select" id="slide_2">
    <input type="radio" name="select" id="slide_3">
    <input type="radio" name="select" id="slide_4">
    <input type="radio" name="select" id="slide_5">
    <input type="checkbox" id="slide_img">
    <!-- 点击按钮 -->
    <div class="slide">
        <label for="slide_1" class="slide_btn_1"></label>
        <label for="slide_2" class="slide_btn_2"></label>
        <label for="slide_3" class="slide_btn_3"></label>
        <label for="slide_4" class="slide_btn_4"></label>
        <label for="slide_5" class="slide_btn_5"></label>
    </div>
    <!-- 主体内容 -->
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app005/css/touxiang1.jpg" alt="" class="img_1">
        </label>
        <div class="txt txt_1">
            <h2 class="tit">王佳乐</h2>
            <p class="info"> 组长 <br>分工：项目工程师 测试工程师<br> tql tql tql </p>
        </div>
    </div>
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app005/css/touxiang2.jpg" alt="" class="img_2">
        </label>
        <div class="txt txt_2">
            <h2 class="tit">李盛强</h2>
            <p class="info">组员<br>分工：详细设计师 代码工程师</p>
        </div>
    </div>
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app005/css/touxiang3.jpg" alt="" class="img_3">
        </label>
        <div class="txt txt_3">
            <h2 class="tit">朱文博 </h2>
            <p class="info">组员<br>分工：详细设计师 代码工程师</p>
        </div>
    </div>
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app005/css/touxiang4.jpg" alt="" class="img_4">
        </label>
        <div class="txt txt_4">
            <h2 class="tit">刘书培</h2>
            <p class="info">组员<br>分工：概要设计师 代码工程师</p>
        </div>
    </div>
    <div class="content">
        <label for="slide_img" class="pic">
            <img src="../../static/app005/css/touxiang5.jpg" alt="" class="img_5">
        </label>
        <div class="txt txt_5">
            <h2 class="tit">罗天悦</h2>
            <p class="info">组员<br>分工：需求分析师 代码工程师</p>
        </div>
    </div>
</div>
</body>
</html>