<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 2px solid #777;
}

div.img img {
    width: 80%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="../../static/app001/image/首页展示_处理后/1.png">
      <img src="../../static/app001/image/首页展示_处理后/1.png" alt="图片文本描述" width="500" height="500">
    </a>
    <div class="desc">“就你话多”表情包</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="../../static/app001/image/首页展示_处理后/2.png">
      <img src="../../static/app001/image/首页展示_处理后/2.png" alt="图片文本描述" width="500" height="500">
    </a>
    <div class="desc">“对不起”表情包</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="../../static/app001/image/首页展示_处理后/3.png">
      <img src="../../static/app001/image/首页展示_处理后/3.png" alt="图片文本描述" width="500" height="500">
    </a>
    <div class="desc">“开枪”表情包</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="../../static/app001/image/首页展示_处理后/4.png ">
      <img src="../../static/app001/image/首页展示_处理后/4.png" alt="图片文本描述" width="500" height="500">
    </a>
    <div class="desc">“打一架”表情包</div>
  </div>
</div>

</body>
</html>